<head></head>
{% extends "base.html" %}
{% block content %}
<form action="" method="post" name="post">
        <input type="text" name="twittername" tabindex="1" required>
        <p><input name="tweet" type="submit"  value="submit"></p>
        </form>
{%if datas%}
<div align="left">
<h2>Tweets:</h2>
<ol>
        {%for data in datas%}
                <li>{{data["text"]}}</li>
        {%endfor%}
</ol>
</div>{%endif%}
{% endblock %}
